<footer class="flex flex-col items-center py-12 px-8 gap-8 w-full border-t-[4px] border-black mt-20 bg-white">
    <div class="text-4xl font-black text-black uppercase font-['Epilogue']">POELANG</div>
    <div class="flex gap-8">
        <a class="text-black hover:text-[#FFD600] transition-colors font-['Epilogue'] font-bold uppercase cursor-pointer"
            href="index.html#kamar">KAMAR</a>
        <a class="text-black hover:text-[#FFD600] transition-colors font-['Epilogue'] font-bold uppercase cursor-pointer"
            href="https://www.google.com/maps/place/Kos+Putra+Poelang+Yogyakarta/@-7.8176781,110.3727517,21z/data=!4m6!3m5!1s0x2e7a574c7abe5ba5:0xb358acf3bc2dff6a!8m2!3d-7.8175515!4d110.372693!16s%2Fg%2F11v9bzdctf" target="_blank">LOKASI</a>
        <a class="text-black hover:text-[#FFD600] transition-colors font-['Epilogue'] font-bold uppercase cursor-pointer"
            href="about.html">PENGELOLA</a>
    </div>
    <div class="font-['Epilogue'] font-bold uppercase text-black text-center max-w-md">
        © 2026 POELANG @ YOGYAKARTA
    </div>
</footer>